body {
    background-color: rgb(37, 35, 35);
    }

#input {  
    width: 35%;
    height: 100px;
    padding: 5px 5px;
    row-gap: 10px;
    word-wrap: break-word;
}



.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
    font-size: 100px;
    color: rgba(251, 255, 255, 0.705);
}
.submission{
    text-align:center;
    color: rgba(96, 232, 232, 0.805);
}

textarea{
    background-color:rgba(251, 255, 255, 0.705) ;
    text-decoration: none;

    border: none;

}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(255, 166, 0);

    margin: 4px 2px;
    padding: 10px 20px;
    border: 15px;
    border-color: orange;
        cursor: pointer;






    /*
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    */
  }



